@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --backColor: #e6e6e6;
    --secondBg: #d1cccc;
    --thirdBg: #ededed;
    --textColor: #35352c;
    --submitColor: #377f86;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--backColor);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.container h1{
    color: var(--textColor);
    margin-bottom: 20px;
}

.container__div{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first__container{
    background-color: var(--secondBg);
    padding: 30px 40px;
    color: var(--textColor);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first__container p{
    text-align: center;
    margin-top: 10px;
}

.first_p{
    font-size: 1.3em;
    font-weight: bold;
}

.child__div{
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--thirdBg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.child__img{
    width: 320px;
    height: 400px;
}

.warningBasic{
    display: none;
}

.input__styles{
    width: 100%;
    border: none;
    background-color: var(--backColor);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--secondBg);
    margin-top: 4px;
    font-size: .9em;
}

.input__styles:focus{
    outline: none;
    box-shadow: 0 0 0 1.5px var(--secondBg);
}

.div__form .inputs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.input__range{
    width: 100%;
    overflow: hidden;
    background-color: red;
}

.div__form input[type="checkbox"]{
    width: 16px;
    height: 16px;
    background-color: var(--secondBg);
    cursor: pointer;
    margin-left: 5px;
}

.div__form{
    color: var(--textColor);
}

.div__form label{
    font-weight: bold;
}

.div__form p{
    margin-top: 10px;
}

.div__form span{
    position: relative;
    color: #dc2626;
    line-height: 0%;
    font-size: .8em;
}

.submit__container{
    text-align: center;
    margin-top: 15px;
}

.submit__form{
    padding: 10px 30px;
    font-size: .9em;
    font-weight: bold;
    background-color: var(--submitColor);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.submit__form:hover{
    background-color: #4898A0;
    transition: .2s;
}

.warningStyle{
    box-shadow: 0 0 0 1.5px #dc2626;
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.modal div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal__correct{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    transition: .2s;
}

.modal__correct .container__modal{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container__modal div{
    background-color: var(--thirdBg);
    padding: 40px;
    border-radius: 10px;
}

.modal__correct div h2{
    margin-top: 10px;
}

@media only screen and (max-width: 1440px) {
    .child__img{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .child__img{
        display: none;
    }

    .container{
        height: auto;
    }

    .container h1{
        margin-top: 20px;
    }
    
    .container__div{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }
    
    .first__container{
        height: 90px;
        border-radius: 10px 10px 0 0;
    }

    .child__div{
        border-radius: 0px 0px 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container__div{
        width: 80%;
    }

    .container{
        margin-top: 0px;
    }

    .container h1{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .div__form .inputs__container{
        display: block;
    }

    .container__div{
        width: 90%;
    }
}